In [2]:
%matplotlib inline
import pandas as pd
import numpy as np
import math as math
from scipy import stats
import matplotlib.pyplot as plt

In [3]:
nascimentos = pd.read_csv('new_births_total_number_estimated.csv')
energia = pd.read_csv('energy_use_per_person.csv')
IDH = pd.read_csv('hdi_human_development_index.csv')

In [4]:
#nasc_10 = nascimentos.loc[:, ["geo", 2010]]
#
IDH_index=IDH.set_index('geo')
IDH_index.head()
IDH_10 = IDH_index.loc[:,['2010']]
IDH_10.head()

              2010
geo
Afghanistan  0.454
Albania      0.738
Algeria      0.724
Andorra      0.819
Angola       0.495

In [6]:
nasc_index=nascimentos.set_index('geo')
nasc_index.head()
nasc_10 = nasc_index.loc[:,['2010']]
nasc_10.head()

                        2010
geo
Afghanistan          1100000
Albania                35000
Algeria               893000
Angola               1010000
Antigua and Barbuda     1480

In [ ]:
nascimentos.plot.scatter(x='2001',y='2000')

In [ ]:
nascimentos.loc[:,['geo', "2007"]]

In [ ]:
energia.loc[:,['geo', "2007"]]

In [ ]:
IDH.loc[:,['geo','2007']]